<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of listproduct;let index=index">
        <th scope="row">{{index+1}}</th>
        <td>{{p.name}}</td>
        <td>{{p.price}}</td>
        <td>{{p.description}}</td>
        <td><button type="button" class="btn btn-danger"  (click)="deletepro(p.id)">Delete</button>
          &nbsp;
          <button type="button" class="btn btn-info" [routerLink]="['/detail',p.id]">Détails</button>
          &nbsp;
          <button type="button" class="btn btn-success"  [routerLink]="['/update',p.id]">Update</button>
        </td>
      </tr>
    </tbody>
  </table>